/NetbeansDatabaseProject/nbproject/private/
/NetbeansDatabaseProject/build/
/jolag16 DB obl/nbproject/private/
/NetbeansProject/nbproject/private/
/DatabaseNetbeansProject/nbproject/private/
/DatabaseNetbeansProject/build/
/DatabaseNetbeansProject/dist/